@page
@model MyScriptureJournal.Pages_Journal.IndexModel

@{
    ViewData["Title"] = "Index";
}




<form class="d-flex row my-12">
      <div class="col-md-3">
         <a class="btn btn-primary" asp-page="Create">Create New</a>
    </div>
    <div class="col-md-3">
        <select asp-for="SearchSelection" name="searchSelection" class="form-control  ">
            <option value="">All</option>
            <option value="Book">Books</option>
            <option value="Notes">Notes</option>
        </select>
    </div>

    <div class="col-md-3">
        <input type="text" asp-for="SearchString" class="form-control " />
    </div>

    <div class="col-md-3">
        <input type="submit" value="Filter" class="btn" />
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry[0].EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry[0].Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.JournalEntry)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
